- type: http
  enabled: true
  schedule: '@every 60s'
  urls: [{{ app01_urls }}]
  fields:
    env: {{ env }}
  fields_under_root: true
  ssl.verification_mode: none
  check.response:
    status: 0
    body:
      - RUNNING