heartbeat.config.monitors:
  path: {{ heartbeat_config_path }}/conf.d/*.yml
  reload.enabled: {{ heartbeat_reload_config }}
  reload.period: {{ heartbeat_reload_period }}
#================================ General =====================================

tags: ["cardshub", "heartbeat"]

  #----------------------------- Logstash output --------------------------------
output.logstash:
  enabled: true
  hosts: ["{{ heartbeat_logstash_url }}"]

  # SSL
  ssl.enabled: true
  ssl.key: "{{ heartbeat_config_path }}/conf.d/logstash.key"
  ssl.key_passphrase: "${KEY}"
  ssl.certificate: "{{ heartbeat_config_path }}/conf.d/logstash.cer"
  ssl.certificate_authorities: ["{{ heartbeat_config_path }}/conf.d/ca.cer", "{{ heartbeat_config_path }}/conf.d/tech_ca.cer"]
  ssl.verification_mode: none

#================================ Logging =====================================

logging.level: info
logging.metrics.enabled: false