[Unit]
Description=Ping remote services for availability and log results to Elasticsearch or send to Logstash.
Documentation=https://www.elastic.co/products/beats/heartbeat
Wants=network-online.target
After=network-online.target

[Service]
User={{ heartbeat_user }}
Group={{ heartbeat_group }}
ExecStart=/usr/share/heartbeat/bin/heartbeat -c {{ heartbeat_config_path }}/heartbeat.yml -path.home /usr/share/heartbeat -path.config {{ heartbeat_config_path }} -path.data {{ heartbeat_data_path }} -path.logs {{ heartbeat_log_path }}
Restart=always

[Install]
WantedBy=multi-user.target